<table class="table">
  <!-- head -->
  <thead>
    <tr class="bg-base-200">
      <th>ID</th>
      <th>Username</th>
      <th>Action</th>
      <th>Method</th>
      <th>IP</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>


    @if(logsService.logsResource.error()) {
      <tr>
        <td colspan="4" class="text-center text-error">{{ logsService.logsResource.error() }}</td>
      </tr>
    }
    @else if(logsService.logsResource.isLoading()) {
       <tr>
        <td colspan="4" class="text-center">
          <span class="loading loading-spinner loading-md"></span>
          Cargando logs...</td>
      </tr>
    }
    @else {
      @if(!logsService.logsResource.hasValue()) {
        <tr>
          <td colspan="4" class="text-center">No se encontraron logs.</td>
        </tr>
      }
      @else {
          @for (log of logsService.logsResource.value(); track $index) {
          <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.method }}</td>
            <td>{{ log.ip }}</td>
            <td>{{ log.created_at }}</td>
          </tr>
          }
        }
  }

  </tbody>
</table>
