<form [formGroup]="myForm" autocomplete="on" class="login-form">
  <fieldset class="fieldset">
    <label class="label">Email</label>
    <input type="email" class="input" placeholder="Email" formControlName="email" />
    <label class="label">Password</label>
    <input type="password" class="input" placeholder="Password" formControlName="password" />
    <div><a class="link link-hover">Forgot password?</a></div>
    @if(formUtils.isValidField(myForm, 'email')){
        <span class="text-error">{{ formUtils.getFieldError(myForm, 'email') }}</span>
      }
    @if(formUtils.isValidField(myForm, 'password')){
        <span class="text-error">{{ formUtils.getFieldError(myForm, 'password') }}</span>
      }
    <button class="btn btn-neutral mt-4" (click)="onConsoleLog()">Login</button>
  </fieldset>
</form>


