<div class="overflow-y-auto h-full">
<table class="table table-pin-rows">
  <thead>
    <tr class="bg-base-200">
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Permission</th>
    </tr>
  </thead>
  <tbody>

    @if(usersResource().error()) {
      <tr>
        <td colspan="4" class="text-center text-error">{{ usersResource().error() }}</td>
      </tr>
    }
    @else if(usersResource().isLoading()) {
       <tr>
        <td colspan="4" class="text-center">
          <span class="loading loading-spinner loading-md"></span>
          Cargando usuarios...</td>
      </tr>
    }
    @else {
      @if(!usersResource().hasValue()) {
        <tr>
          <td colspan="4" class="text-center">No se encontraron usuarios.</td>
        </tr>
      }
      @else {
          @for (user of usersResource().value(); track user.id) {
          <tr class="cursor-pointer hover:bg-base-200"
          (click)="value.emit(user.id)">
            <td>{{user.id}}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <!-- delete user btn -->
          </tr>
          }
        }
  }
  </tbody>
</table>
</div>
